/* Coolors Exported Palette - coolors.co/065143-a8d8d6-70b77e-a37b69-390624 */
/*A Green Color Palette*/
/* HSL */
$color1: hsla(169%, 86%, 17%, 1);
$color2: hsla(178%, 38%, 75%, 1);
$color3: hsla(132%, 33%, 58%, 1);
$color4: hsla(19%, 24%, 53%, 1);
$color5: hsla(325%, 81%, 12%, 1);

/* RGB */
$color1: rgba(6, 81, 67, 1);
$color2: rgba(168, 216, 214, 1);
$color3: rgba(112, 183, 126, 1);
$color4: rgba(163, 123, 105, 1);
$color5: rgba(57, 6, 36, 1);